{% extends "parlantes/base.html" %}

{%block title %} Editar {% endblock%}

{% block content%}

<div id="caja2">

    <h1> Editar Parlante</h1>
    <br>
    <br>

    <form action="editar_por_nombre" method="post">
        {% csrf_token %}
        <label>Ingrese el Nombre para modificar</label>
        <input type="text" name="nombre">
        <input class="waves-effect waves-light btn" type="submit" name="opcion" value="Buscar">
    </form>

</div>

{% endblock %}

{% block javascript%}

{% endblock %}