{% extends "parlantes/base.html" %}
{% load static %}

{% load pwa %}
{% progressive_web_app_meta %}

{%block title %} Inicio {% endblock%}

{% block content%}
<body id="body">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align titulo"> Qué parlante buscas? </h1>
                <div class="carousel center-align">
                    <div class="carousel-item">

                        <img src="{%  static 'imagenes/par1.jpg' %}" alt="">
                    </div>

                    <div class="carousel-item">

                        <img src="{%  static 'imagenes/par2.jpg' %}" alt="">
                    </div>

                    <div class="carousel-item">

                        <img src="{%  static 'imagenes/par3.jpg' %}" alt="">
                    </div>

                    <div class="carousel-item">

                        <img src="{%  static 'imagenes/par4.jpg' %}" alt="">
                    </div>

                    <div class="carousel-item">

                        <img src="{%  static 'imagenes/par5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

{% block javascript%}

{% endblock %}