{% extends "parlantes/base.html" %}
{% load static %}

{%block title %} Parlantes {% endblock%}

{% block content%}

<body id="body2">

    <div class="wrap">
      <h1>Parlantes</h1>
      <div class="store-wrapper">
          <div class="category_list">
            <a href="#" class="category_item" category="all">Todo</a>
            <a href="#" class="category_item" category="bazucas">Bazucas</a>
            <a href="#" class="category_item" category="Karaoke">Karaoke</a>
            <a href="#" class="category_item" category="parlantes">Parlantes Radio</a>
            <a href="#" class="category_item" category="cubos">Cubos</a>
            <a href="#" class="category_item" category="deDJ">De DJ</a>
          </div>
          <section class="products-list">
            <div class="product-item" category="parlantes">
              <img src="{%  static 'imagenes/par1.jpg' %}" alt="" >
              <a href="#">Parlante Morador</a>
            </div>
            <div class="product-item" category="Karaoke">
              <img src="{%  static 'imagenes/par2.jpg' %}" alt="" >
              <a href="#">Karaoke Negro</a>
            </div>
            <div class="product-item" category="bazucas">
              <img src="{%  static 'imagenes/par3.jpg' %}" alt="" >
              <a href="#">Basuka roja</a>
            </div>
            <div class="product-item" category="deDJ">
              <img src="{%  static 'imagenes/par4.jpg' %}" alt="" >
              <a href="#">Parlante Azul</a>
            </div>
            <div class="product-item" category="parlantes">
              <img src="{%  static 'imagenes/par5.jpg' %}" alt="" >
              <a href="#">Parlante chico</a>
            </div>
            <div class="product-item" category="cubos">
              <img src="{%  static 'imagenes/par6.jpg' %}" alt="" >
              <a href="#">Cubito blanco</a>
            </div>
            <div class="product-item" category="parlantes">
              <img src="{%  static 'imagenes/par7.jpg' %}" alt="" >
              <a href="#">Parlante Rojo</a>
            </div>
            <div class="product-item" category="cubos">
              <img src="{%  static 'imagenes/par8.jpg' %}" alt="" >
              <a href="#">Cubito Negro</a>
            </div>
            {% for parlante in listado %}
              <div class="product-item" category="{{parlante.tipo}}">
                <img src="{{parlante.foto.url}}" alt="" >
                <a href="#">{{parlante.nombre}}</a>
              </div>
            {% endfor %}
          </section>
      </div>
    </div>

</body>

{% endblock %}

{% block javascript%}

{% endblock %}