{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <!--<input type="submit" value="{% trans 'Iniciar sesion' %}" />-->
  <input type="hidden" name="next" value="{{ next }}" />

  <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
          <a href="{% url 'social:begin' 'facebook' %}">Login con Facebook</a>
</form>



<p>{% trans "Has olvidado tu contrasena" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Restablecer" %}</a>!</p>
<p>{% trans "No tienes cuenta" %}? <a href="{% url 'registration_register' %}">{% trans "Registrarte" %}</a>!</p>
{% endblock %}